html {
    position: relative;
    min-height: 100%;
}

body {
	/* note this should match footer height */
    margin-bottom: 60px;
	padding-top: 70px;
}

#homepage {
	background: url('../images/thunderdome.jpg') no-repeat center center fixed;
	background-size: cover;
}

#homepage .jumbotron {
    background-color: rgba(230,230,230,0.8);
}

#homepage .jumbotron small {
    color: #000000;
}

.navigation {
    margin-bottom: 20px;
    padding: 8px 16px;
    border-top: 2px solid #eee;
}
.navigation:before,
.navigation:after {
  display: table;
  content: " ";
}
.navigation:after {
    clear: both;
}
.navigation .pagination {
    margin: 0;
}

.toolbar a.btn {
    padding: 8px 16px;
}

.graphic-full {
    max-height: 500px;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #555;
    color: #ddd;
}

footer .container {
    padding: 15px;
}